/**
Gattiny style sheet
 */
@import "common";

.wp-admin .gattiny {
  .load-low {
    &:before {
      @include circle;
      background-color: forestgreen;
    }
  }
  .load-medium {
    &:before {
      @include circle;
      background-color: orange;
    }
  }
  .load-high {
    &:before {
      @include circle;
      background-color: indianred;
    }
  }
  .full-width {
    display: block;
    width: 100%;
  }
}

/*
Overrides
 */
.wp-admin .gattiny {
  .form-table td fieldset label {
    display: block
  }
}